.search{
    position: relative;
    border-radius: 3px;
    background-color: #ffffff;
    margin-right: 10px;
    margin-left: 10px;
    width: auto;
    transition: all 0.5s ease;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.searchIcon{
    padding: 0 8px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputInput {
    background-color: transparent;
    color: inherit;
    padding: 10px;
    padding-left: calc(1em + 14px);
    width: 90ch;
    transition: ease 0.2s;
}

.inputInput:focus{
    outline: none;
    background-color: white;
}

